.side-calendar
    display: flex
    width: 320px
    flex-direction: column

.calendar
    display: flex
    flex-direction: row

.main-calendar
    display: flex
    flex-grow: 1
    flex-direction: column

.week-grid
    display: grid
    grid: auto-flow 1fr / 0.50fr repeat(7, 1fr)
    justify-items: center

.schedule-grid
    display: grid
    grid: repeat(24, 1fr) / 0.50fr repeat(7, 1fr)
    justify-items: center
    