<div class="edit-appointment" >
    <h2>Edit appointment details</h2>
    <form [formGroup]="appointmentForm">
        <mat-form-field>
            <input matInput placeholder="Patient first name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Patient last name" formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
        <div class="datetime-input-container">
            <label>Start date</label>
            <input type="datetime-local" formControlName="startDate">
            <label>End date</label>
            <input type="datetime-local" formControlName="endDate">
        </div>
        <div class="edit-actions">
            <button mat-raised-button type="button" (click)="send()">Save</button>
            <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>